/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Properties */
.txt-uppercase {
    text-transform: uppercase;
}

.pad-1rem {
    padding: 1rem;
}

.rounded {
    border-radius: 50%;
}

/* Element Properties */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

#logo {
    margin: 1rem;
    width: 150px;
}

#sidebar-section {
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    color: white;
}

#sidebar-section nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar-section li {
    margin: .5rem;
}

#content-section {
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background-color: #141922;
    color: white;
    overflow-y: scroll;
}

#content-section .upgrade-bar {
    background-color: #080b12;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

#content-section .upgrade-bar button {
    padding: .4rem 1rem;
    border-radius: 50px;
}

#content-section .selection-bar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#content-section .selection-bar li {
    margin: 1rem;
}

#content-section .element-row {
    display: flex;
}

#content-section .element-row .element {
    width: calc(100% / 6);
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-section .element-row .element img {
    width: 100%;
    aspect-ratio: 1;
}

#player-section {
    width: 100vw;
    height: 80px;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsive Layout */
/* MD Layout (from 768px to 992px) */
@media screen and (max-width: 992px) {
    #content-section .element-row {
        flex-wrap: wrap;
    }

    #content-section .element-row .element {
        width: calc((100% / 4) - 1rem);
}

/* S Layout (from 576px to 768px) */
@media screen and (max-width: 768px) {
    #content-section .element-row .element {
        width: calc((100% / 2) - 1rem);
}

/* XS Layout (from 0px to 576px) */
@media screen and (max-width: 576px) {
    
}