/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Properties */
.txt-uppercase {
    text-transform: uppercase;
}

.txt-white {
    color: white;
}

.pad-1rem {
    padding: 1rem;
}

.pad-point5rem-1rem {
    padding: .5rem 1rem;
}

.pad-0-1rem {
    padding: 0 1rem;
}

.mar-rig-2rem {
    margin-right: 2rem;
}

.mar-bot-2rem {
    margin-bottom: 2rem;
}

.mar-bot-point5rem {
    margin-bottom: .5rem;
}

.rounded {
    border-radius: 50%;
}

.p-relative {
    position: relative;
}

/* Element Properties */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    font-size: .7rem;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: .6rem;
}

h2 {
    font-size: .8rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: .6rem;
    color: #7c7e83;
    margin-bottom: .5rem;
}

p {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #7c7e83;
}

li {
    list-style-type: none;
}

i,
#sidebar-section .large-navbar span {
    cursor: pointer;
}

#sidebar-section .large-navbar ul + span {
    cursor: auto;
}

#sidebar-section {
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    color: #6c6c6c;
}

#sidebar-section img.user-icon {
    width: 25px;
    aspect-ratio: 1;
    background-color: #9f9f9f;
    border-radius: 50%;
    vertical-align: middle;
}

#sidebar-section .large-navbar .logo {
    width: 150px;
}

#sidebar-section .large-navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

#sidebar-section .large-navbar li {
    margin: .8rem 0;
    cursor: pointer;
    width: fit-content;
    height: 100%;
    padding: 0 1rem;
    border-left: 3px solid black;
}

#sidebar-section .large-navbar ul.mar-bot-2rem li:not(:first-child):hover {
    border-left: 3px solid #b5ff31;
    transition: border-left .3s;
}

#sidebar-section .large-navbar li img {
    width: 25px;
    cursor: pointer;
    vertical-align: middle;
}

#sidebar-section .large-navbar li i {
    font-size: 40px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: .5rem;
}

#sidebar-section .small-navbar {
    height: 100%;
    display: none;
}

#sidebar-section .small-navbar > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-section .small-navbar li img {
    margin: 1rem;
    width: 30px;
    cursor: pointer;
}

#content-section {
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background-color: #141922;
    color: white;
    overflow-y: scroll;
}

#content-section .upgrade-bar {
    background-color: #080b12;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

#content-section .upgrade-bar button {
    padding: .4rem 2rem;
    margin-right: 1rem;
    border-radius: 50px;
    background-color: transparent;
    font-size: .6rem;
    font-weight: bold;
    cursor: pointer;
}

#content-section .selection-bar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #7d7f84;
    font-weight: bold;
}

#content-section .selection-bar li {
    margin: 1rem;
    cursor: pointer;
    font-size: .7rem;
}

#content-section .selection-bar li:hover .thin-bar-green {
    opacity: 1;
    transition: opacity .3s;
}

#content-section .selection-bar .thin-bar-green {
    background-color: #b5ff31;
    height: 2px;
    width: 30px;
    margin: .1rem auto;
    opacity: 0;
}

#content-section .element-row {
    display: flex;
}

#content-section .element-row .element {
    width: calc(100% / 6);
    margin: .5rem .8rem 0 0;
    text-align: center;
}

#content-section .element-row .element i {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s;
}

#content-section .element-row .element:hover i {
    opacity: 1;
    transition: opacity .3s;
}

#content-section .element-row .element img {
    width: 100%;
    max-width: 300px;
    margin-bottom: .5rem;
}

#content-section .element-row .element:hover img {
    opacity: 0.5;
}

#player-section {
    width: 100vw;
    height: 80px;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

#player-section ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-section li {
    margin-right: 1rem;
}

#player-section img {
    width: 40px;
    vertical-align: middle;
}

#player-section span {
    font-size: .7rem;
}

#player-section i {
    font-size: .9rem;
}

#player-section i.fa-heart,
#player-section i.fa-folder {
    color: #7c7e83;
}

#player-section i.fa-circle-play {
    font-size: 2rem;
}

#player-section div span:first-of-type {
    font-weight: bold;
}

#player-section .player-buttons {
    margin-bottom: .5rem;
}

#player-section .thin-bar {
    background-color: #5d5d5d;
    height: 4px;
    border-radius: 20px;
}

#player-section .thin-bar.long {
    width: 25vw;
}

#player-section .thin-bar.short {
    width: 100px;
}

#player-section .thin-bar.shorter {
    width: 25px;
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
}

#player-section .thin-bar.long + .thin-bar.short {
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
}

/* Responsive Layout */
/* MD Layout (from 768px to 992px) */
@media screen and (max-width: 992px) {
    #content-section .element-row {
        flex-wrap: wrap;
    }

    #content-section .element-row .element {
        width: calc((100% / 4) - 1rem);
    }
}

/* S Layout (from 576px to 768px) */
@media screen and (max-width: 768px) {
    #content-section .element-row .element {
        width: calc((100% / 2) - 1rem);
    }

    #player-section {
        padding: .5rem;
    }

    #player-section .thin-bar.long {
        width: 20vw;
    }

    #player-section .thin-bar.short {
        width: 70px;
    }
}

/* XS Layout (from 0px to 576px) */
@media screen and (max-width: 576px) {
    #sidebar-section {
        width: 50px;
    }

    #sidebar-section .large-navbar {
        display: none;
    }

    #sidebar-section .small-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: space-between;
    }

    #content-section {
        width: calc(100% - 50px);
    }

    #player-section i {
        font-size: .7rem;
    }

    #player-section i.fa-circle-play {
        font-size: 1.2rem;
    }

    #player-section img {
        width: 30px;
    }

    #player-section span {
        font-size: .5rem;
    }

    #player-section .player-settings {
        flex-wrap: wrap;
    }

    #player-section .player-settings li.p-relative {
        margin-top: 1rem;
    }
}