/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flexbox Properties */
.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.direction-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Responsive Layout */
/* MD Layout (from 768px to 992px) */
@media screen and (max-width: 992px) {

}

/* S Layout (from 576px to 768px) */
@media screen and (max-width: 768px) {
    
}

/* XS Layout (from 0px to 576px) */
@media screen and (max-width: 576px) {
    
}